version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: electricity-price-app
    ports:
      - "38080:5000"
    environment:
      - FLASK_ENV=production
      - PYTHONUNBUFFERED=1
    restart: unless-stopped