<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container d-flex align-items-center justify-content-between">
            <a class="navbar-brand text-white" href="/">
                <img src="https://static.preparaenem.com/2021/08/corrente-eletrica.jpg" alt="Electricity Price Sweden Logo" width="50" height="30" class="d-inline-block align-text-top me-2">
                Electricity Price Sweden
            </a>
            <ul class="navbar-nav d-flex align-items-center">
                <li class="nav-item me-2">
                    <a class="nav-link text-white" href="/">Hem</a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link" href="/">
                        <img src="https://cdn-icons-png.flaticon.com/512/197/197564.png" alt="Electricity Price Sweden Logo" width="30" height="30" class="d-inline-block align-text-top">
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
