<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Electricity Price{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
    <div id="header">
        {% block header %}
            {% include "header.html" %}
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}
            content
        {% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
            {% include "footer.html" %}
        {% endblock %}
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
